.input_text {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  position: relative;
  top: -3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--cgp-text-color);
}
