/* stylelint-disable selector-class-pattern */

.container {
  display: inline-flex;
  align-items: center;
  height: 26px;
}

.wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  height: 100%;
  border: 1px solid transparent;
  flex-grow: 1;
  transition: border-color 0.25s ease;
}

.container:hover .wrapper {
  border: 1px solid var(--cgp-input-hover-color);
}

.container .wrapper.isFocus {
  border: 1px solid var(--cgp-input-focus-color);
}

.container .extra_component {
  border: none !important;
}

.extra_component input {
  padding-left: 6px;
}

.label {
  margin-right: 12px;
}

.input {
  border: none;
  background-color: transparent;
  color: var(--cgp-text-color);
  outline: none;
  font-size: 14px;
  margin-right: 8px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input[type="number"] {
  appearance: textfield;
}

.info {
  margin-right: 6px;
  margin-left: 6px;
  color: #bbb !important;
}
