.select_wrapper {
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.select {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--color-gradient-picker-text-color);
  font-size: var(--color-gradient-picker-base-font-size);
  appearance: none;
  margin-left: 8px;
  width: 40px;
}
