.select_wrapper {
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.select {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--cgp-text-color, rgba(255, 255, 255, 0.65));
  font-size: var(--cgp-base-font-size, 14px);
  margin-left: 8px;
}
