.select_wrapper {
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;
}

.select {
  background-color: transparent;
  outline: none;
  border: none;
  /* color: #515151; */
  font-size: var(--cgp-base-font-size, 14px);
}

.selectLight {
  color: #515151;
}

.selectDark {
  color: var(--cgp-text-color, rgba(255, 255, 255, 0.65));
}

.no_arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.close_btn {
  border: none;
  background: transparent;
  margin-left: auto;
  cursor: pointer;
}
