/* stylelint-disable selector-class-pattern */

.select_wrapper {
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px 0 12px;
  gap: 12px;
  width: 300px;
  border-bottom: 1px solid rgba(0, 0, 0, 6%);
  background-color: var(--cgp-background-color);
}

.close_btn {
  border: none;
  background: transparent;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_btn:hover {
  background-color: rgba(0, 0, 0, 4%);
  border-radius: 2px;
}

.segmentedControl {
  display: flex;
  height: 24px;
  padding: 2px;
  align-items: center;
  border-radius: 4px;
  background: rgba(0, 0, 0, 4%);
}

.segment {
  display: flex;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.segmentSelected {
  border-radius: 2px;
  background: #fff;

  /* boxShadow */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 2%), 0 1px 6px -1px rgba(0, 0, 0, 2%), 0 1px 2px 0 rgba(0, 0, 0, 3%);
}

.segmentNotSelected:hover {
  background: rgba(0, 0, 0, 2%);
}

.segmentDisabled {
  cursor: not-allowed;
  border-radius: 2px;
  color: rgba(0, 0, 0, 25%);
}
