/* stylelint-disable selector-class-pattern */
.alpha_slider {
  position: relative;
  height: calc(var(--cgp-value-picker-width, 12px) - 4px);
  border-radius: calc((var(--cgp-value-picker-width, 12px) - 4px) / 2);
  background-color: #7e7e84;
  background-image: linear-gradient(
    45deg,
    #4c4c52 25%,
    transparent 25%,
    transparent 75%,
    #4c4c52 75%,
    #4c4c52
  ),
    linear-gradient(
    45deg,
    #4c4c52 25%,
    transparent 25%,
    transparent 75%,
    #4c4c52 75%,
    #4c4c52
  );
  background-position: 0 0,
    calc((var(--cgp-value-picker-width, 12px) - 4px) / 2)
    calc((var(--cgp-value-picker-width, 12px) - 4px) / 2);
  background-size: calc(var(--cgp-value-picker-width, 12px) - 4px)
    calc(var(--cgp-value-picker-width, 12px) - 4px),
    calc(var(--cgp-value-picker-width, 12px) - 4px)
    calc(var(--cgp-value-picker-width, 12px) - 4px);
  background-repeat: repeat, repeat;
  cursor: pointer;
}

.alpha_slider_picker {
  position: absolute;
  top: calc(0px - var(--cgp-value-picker-border, 2px));
  left: 0;
  width: var(--cgp-value-picker-width, 12px);
  height: var(--cgp-value-picker-width, 12px);
  border: var(--cgp-value-picker-border, 2px) solid #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 50%);
  background-color: #f00;
  border-radius: 55%;
  transform: translateX(-50%);
}

.alpha_slider_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: calc((var(--cgp-value-picker-width, 12px) - 4px) / 2);
}
