.wrapper {
  --cgp-font-family: Arial, Helvetica, sans-serif;
  --cgp-base-font-size: 12px;

  --cgp-value-picker-width: 12px;
  --cgp-value-picker-border: 2px;
  --cgp-input-height: 26px;
  --cgp-picking-panel-zindex: 1;
}

.wrapper_light {
  --cgp-text-color: #515151;
  --cgp-background-color: #fff;
  --cgp-input-focus-color: #40a9ff;
  --cgp-input-hover-color: #d9d9d9;
  --cgp-input-border-color: #d9d9d9;
}

.wrapper_dark {
  --cgp-text-color: rgba(255, 255, 255, 0.65);
  --cgp-background-color: #1f1f1f;
  --cgp-input-focus-color: #a58d12;
  --cgp-input-hover-color: #262626;
  --cgp-input-border-color: #262626;
}

.wrapper,
.wrapper * {
  box-sizing: border-box;
}

.wrapper {
  font-family: var(--cgp-font-family);
  font-size: var(--cgp-base-font-size, 12px);
  position: relative;
  display: inline-block;
  color: var(--cgp-text-color, #515151);
}

.picking_panel {
  width: 300px;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  padding-bottom: 16px;
  z-index: var(--cgp-picking-panel-zindex, 1);
  box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05),
    0 3px 6px -4px rgba(0, 0, 0, 0.12) !important;
  filter: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.08));
  background-color: var(--cgp-background-color, #fff);
}
