.container {
  display: inline-flex;
  align-items: center;
  height: 26px;
}

.container:hover .wrapper_light {
  border: 1px solid var(--cgp-input-hover-color-light, #d9d9d9);
}
.container:hover .wrapper_dark {
  border: 1px solid var(--cgp-input-hover-color-dark, #262626);
}

.wrapper {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  height: 100%;
  border: 1px solid transparent;
  transition: border-color 0.25s ease;
}

/* .container .wrapper.isFocus {
  border: 1px solid var(--cgp-input-focus-color, #a58d12);
} */

.container .wrapper_light.isFocus {
  border: 1px solid var(--cgp-input-focus-color-light, #40a9ff);
}

.container .wrapper_dark.isFocus {
  border: 1px solid var(--cgp-input-focus-color-dark, #a58d12);
}

.container .extra_component {
  border: none !important;
}

.extra_component input {
  padding-left: 6px;
}

.label {
  margin-right: 12px;
}

.input {
  border: none;
  line-height: 1.5;
  background-color: transparent;
  /* color: var(--cgp-text-color, rgba(255, 255, 255, 0.65)); */
  color: #515151;
  border: none;
  outline: none;
  font-size: 14px;
}

.input {
  margin-right: 8px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.info {
  margin-right: 6px;
  margin-left: 6px;
  color: #bbb !important;
}
