.container {
  display: inline-flex;
  align-items: center;
  height: 26px;
}

.container:hover .wrapper {
  border: 1px solid #262626;
}

.wrapper {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  height: 100%;
  border: 1px solid transparent;
  transition: border-color 0.25s ease;
}

.container .wrapper.isFocus {
  border: 1px solid #a58d12;
}

.label {
  margin-right: 12px;
}

.input,
.input_extra {
  border: none;
  line-height: 1.5;
  background-color: transparent;
  color: var(--color-gradient-picker-text-color);
  border: none;
  outline: none;
}

.input {
  margin-right: 8px;
}

.input_extra {
  margin-left: 6px;
}

.extra_input_divider {
  width: 1px;
  height: 24px; /* 26px - 2px */
  background-color: rgba(255, 255, 255, 0.12);
}

.info {
  margin-right: 8px;
  margin-left: 6px;
}

.color_preview,
.text_info {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
}

.color_preview {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.text_info {
  color: rgba(255, 255, 255, 0.3);
}
