.container {
  display: inline-flex;
  align-items: center;
  height: 26px;
}

.container:hover .wrapper {
  border: 1px solid #262626;
}

.wrapper {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  height: 100%;
  border: 1px solid transparent;
  transition: border-color 0.25s ease;
}

.container .wrapper.isFocus {
  border: 1px solid var(--color-gradient-picker-input-focus-color);
}

.container .extra_component {
  border: none !important;
}

.extra_component input {
  padding-left: 6px;
}

.label {
  margin-right: 12px;
}

.input {
  border: none;
  line-height: 1.5;
  background-color: transparent;
  color: var(--color-gradient-picker-text-color);
  border: none;
  outline: none;
}

.input {
  margin-right: 8px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.info {
  margin-right: 8px;
  margin-left: 6px;
}
