.input_text {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  position: relative;
  top: -1px;
  font-size: var(--cgp-base-font-size, 14px);
  line-height: 18px;
}
