/* :root {
  --cgp-font-family: Arial, Helvetica, sans-serif;
  --cgp-base-font-size: 12px;
  --cgp-text-color: rgba(255, 255, 255, 0.65);

  --cgp-value-picker-width: 12px;
  --cgp-value-picker-border: 2px;

  --cgp-input-focus-color-light: #40a9ff;
  --cgp-input-hover-color-light: #d9d9d9;

  --cgp-input-focus-color-dark: #a58d12;
  --cgp-input-hover-color-dark: #262626;

  --cgp-input-height: 26px;

  --cgp-picking-panel-zindex: 1;
} */

.wrapper,
.wrapper * {
  box-sizing: border-box;
}

.wrapper {
  font-family: var(--cgp-font-family);
  font-size: var(--cgp-base-font-size, 12px);

  /* color: var(--cgp-text-color, rgba(255, 255, 255, 0.65));
  color: #515151; */
  position: relative;
  display: inline-block;
}

.wrapper_light {
  color: #515151;
}

.wrapper_dark {
  color: var(--cgp-text-color, rgba(255, 255, 255, 0.65));
}

.picking_panel {
  width: 300px;
  border-radius: 6px;
  position: absolute;
  padding-bottom: 16px;
  z-index: var(--cgp-picking-panel-zindex, 1);
  box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05),
    0 3px 6px -4px rgba(0, 0, 0, 0.12) !important;
  filter: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.08));
}

.color_dark {
  background-color: #1f1f1f;
}

.color_light {
  background-color: #fff;
}

.bottom-left {
  top: calc(var(--cgp-input-height, 26px) + 10px); /* 26px: input height */
}

.bottom-right {
  top: calc(var(--cgp-input-height, 26px) + 10px); /* 26px: input height */
  right: 0;
}

.top-left {
  bottom: calc(var(--cgp-input-height, 26px) + 10px); /* 26px: input height */
}

.top-right {
  bottom: calc(var(--cgp-input-height, 26px) + 10px); /* 26px: input height */
  right: 0;
}
