:root {
  --color-gradient-picker-font-family: -apple-system, blinkmacsystemfont,
    "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-gradient-picker-base-font-size: 14px;
  --color-gradient-picker-text-color: rgba(255, 255, 255, 0.65);
  --color-gradient-picker-value-picker-width: 12px;
  --color-gradient-picker-value-picker-border: 2px;
}

.wrapper,
.wrapper * {
  box-sizing: border-box;
}

.wrapper {
  font-family: var(--color-gradient-picker-font-family);
  font-size: var(--color-gradient-picker-base-font-size);
  color: var(--color-gradient-picker-text-color);
  position: relative;
}

.picking_panel {
  width: 290px;
  border-radius: 4px;
  background-color: #1f1f1f;
  position: absolute;
  top: calc(26px + 10px); /* 26px: input height */
}

.sliders_wrapper {
  display: flex;
  padding: 10px 16px 16px 8px;
  align-items: flex-start;
}

.sliders {
  flex-grow: 1;
  padding-top: 8px;
}

.hue_slider {
  margin-bottom: 16px;
}
